@model MicroFin.Models.GroupCenter   

@{
    ViewBag.Title = "Add/Edit Center";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4> Center Added/Updated Successfully</h4>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table border="1" align="center">
        <tr> <td> Center Id </td> <td> @Model.CenterId </td> </tr>
        <tr> <td> Center Name </td> <td> @Model.CenterName </td> </tr>
    </table>
}
