@{
    ViewBag.Title = "CashReceiptStatementForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
    <div class="wrapper wrapper--w790">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">Cash Report</h2>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("CashReceiptStatement", "Receipt", FormMethod.Post))
                {
                    <!--CenterName and CenterId -->
                    <div class="form-row m-b-55">
                        <div class="name">Select Date</div>
                        <div class="value">
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group-desc">
                                        @Html.TextBox("FromDate", DateTime.Now.ToString("dd/MM/yyyy"), new { @class = "input--style-5 js-datepicker", @required = "true"})
                                        <label class="label--desc">From</label>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group-desc">
                                        @Html.TextBox("ToDate", DateTime.Now.ToString("dd/MM/yyyy"), new { @class = "input--style-5 js-datepicker", @required = "true" })
                                        <label class="label--desc">To</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Get-->
                    <div>
                        <button class="btn btn--radius-2 btn--red" type="submit">Get</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>